
/* Social link Re-Design by CobieGh */
:root {
    --mb-Tele: #0088CC; /* Warna Line */
    --mb-Fb-Page: #0084FF; /* Warna Fb-Page */
    --mb-YouTube: #ff0000; /* Warna YouTube */
    --mb-Tele-uname: "mashbyte"; /* Username Telegram */
    --mb-Fb-Page-uname: "mashbyte"; /* Username Fb-Page */
    --mb-YouTube-uname: "2GWd5Kn"; /* Pin YouTube */
}

#mb .WA, #mb .Line, #mb .Tele, #mb .Fb-Page, #mb .YouTube {display:inline-block; width:90px; text-align:center; margin:0 5px}
#mb .onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin-top:5px;
}
#mb .onoffswitch-checkbox {
    display: none;
}
#mb .onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.s ease-in 0s;
}
#mb .onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold; text-align: center;
    box-sizing: border-box;
}
#mb .WA .onoffswitch-label {
    display: block; overflow: hidden;
    border: 2px solid var(--mb-WA); border-radius: 20px;
}
#mb .WA .onoffswitch-inner:before {
    content: var(--mb-WA-uname);
    background-color: var(--mb-WA); color: #FFFFFF;
    font-size:11px;
}
#mb .WA .onoffswitch-inner:after {
    content: "WhatsApp";
    color: var(--mb-WA);
    font-size:14px;
}
#mb .WA:hover .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
#mb .Line .onoffswitch-label {
    display: block; overflow: hidden;
    border: 2px solid var(--mb-Line); border-radius: 20px;
}
#mb .Line .onoffswitch-inner:before {
    content: var(--mb-Line-uname);
    background-color: var(--mb-Line); color: #FFFFFF;
    font-size:11px;
}
#mb .Line .onoffswitch-inner:after {
    content: "LinkedIn";
    color: var(--mb-Line);
    font-size:14px;
}
#mb .Line:hover .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
#mb .Tele .onoffswitch-label {
    display: block; overflow: hidden;
    border: 2px solid var(--mb-Tele); border-radius: 20px;
}
#mb .Tele .onoffswitch-inner:before {
    content: var(--mb-Tele-uname);
    background-color: var(--mb-Tele); color: #FFFFFF;
    font-size:11px;
}
#mb .Tele .onoffswitch-inner:after {
    content: "Telegram";
    color: var(--mb-Tele);
    font-size:14px;
}
#mb .Tele:hover .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
#mb .Fb-Page .onoffswitch-label {
    display: block; overflow: hidden;
    border: 2px solid var(--mb-Fb-Page); border-radius: 20px;
}
#mb .Fb-Page .onoffswitch-inner:before {
    content: var(--mb-Fb-Page-uname);
    background-color: var(--mb-Fb-Page); color: #FFFFFF;
    font-size:11px;
}
#mb .Fb-Page .onoffswitch-inner:after {
    content: "Fb-Page";
    color: var(--mb-Fb-Page);
    font-size:14px;
}
#mb .Fb-Page:hover .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
#mb .YouTube .onoffswitch-label {
    display: block; overflow: hidden;
    border: 2px solid var(--mb-YouTube); border-radius: 20px;
}
#mb .YouTube .onoffswitch-inner:before {
    content: var(--mb-YouTube-uname);
    background-color: var(--mb-YouTube); color: #FFFFFF;
    font-size:11px;
}
#mb .YouTube .onoffswitch-inner:after {
    content: "YouTube";
    color: var(--mb-YouTube);
    font-size:14px;
}
#mb .YouTube:hover .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
